$color-primary-light: #f3e9f1;
$color-primary-medium: #8f5bfe;
$color-primary-dark: #463c68;

$color-secondary-light: #fef1e6;
$color-secondary-medium: #e48a24; 

$break-large: 1200px;
$break-medium: 1024px;
$break-tablet: 768px;

